$primary-color: rgb(66, 108, 128);
$text-color: white;
.userInfo {
  box-sizing: border-box;
  margin-top: 2rem;
  width: 100%;
  padding: 0 2rem;
  h1 {
    width: 100%;
  }
  .account {
    box-sizing: border-box;
    float: left;
    width: 20%;
    font-size: 0.5rem;
    position: absolute;
    top: 2rem;
    text-align: start;
    background-color: beige;
    padding: 0 1rem;
    border-radius: 10px;
  }
}

.creatbtn {
  margin-top: 8rem;
}

.gameList{
  display: flex;
  justify-content:space-around;
  margin-top: 5rem;
  width: 100%;
  list-style: none;
  box-sizing: border-box;
  li{
    width: 25%;
    height: 8rem;
  }
}

.popup {
  height: 20rem;
  width: 100%;
  margin: auto;
  margin-top: 5rem;
  .amount {
    width: 30%;
    margin: auto;
  }
  .choices {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    .choice {
      height: 100%;
      width: 10%;
      margin: 0 2rem;
    }
    .choice.selected{
      border: cadetblue 2px solid;
    }
  }
  .submitBtn {
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    span {
      padding: 1rem;
      background-color: $primary-color;
      color: $text-color;
      cursor: pointer;
    }
  }
}
