$primary-color: rgb(82, 121, 165);
$text-color: white;

.medal {
  background-color: rgba(228, 127, 161, 0.438);
  border-radius: 10px;
  color: beige;
  padding: 1rem 0.5rem;
  width: 100%;
  height: 100%;
  justify-content: space-around;

  .creatorSticker {
    float: left;
    clear: right;
  }

  .title {
    font-size: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 1rem;
  }

  table {
    width: 100%;
    justify-content: space-around;
    margin: 2rem 0;
    th {
      text-align: start;
    }
    td {
      text-align: end;
    }
  }
  .revealBtn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: $primary-color;
    color: $text-color;
    cursor: pointer;
  }
}

.medal.own {
  background-color: rgba(167, 212, 255, 0.438);
  color: rgb(116, 167, 197);
  font-weight: bolder;
}
